* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #0b0b0b;
  line-height: 1.6;
  min-height: 100%;
}

.container {
  max-width: min(90%, 1440px);
  margin-inline: auto;
}

.container > * + * {
  margin-bottom: 5rem;
}

ul li {
  list-style: none;
}

ol li {
  list-style: lower-roman;
}

nav {
  background-color: black;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
}

.main__navigation-list {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main__navigation-list--item {
  border: 1px solid #e3e3e3;
  padding: 0.75em 2.5em;
  border-radius: 15px;
  transition: background, color, 0.5s ease;
  color: #e3e3e3;
}

.main__navigation-list--item:hover {
  background-color: #e3e3e3;
  color: #0b0b0b;
  font-weight: 700;
}

.nav-logo {
  height: 100px;
  padding: 0.5em;
}

.main-heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.cds {
  display: grid;
  gap: 2rem;
}

.cd__content-summary {
  margin-bottom: 1.5em;
}

.cd {
  box-shadow: 0 1px 15px #0b0b0b;
  max-width: 100%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.cd__content {
  padding-inline: 2em;
  padding-block: 1.25em;
  display: grid;
}

.cd__content-name {
  text-align: center;
  font-size: 1.75rem;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 2rem;
}

.cd__content-tracks {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  max-width: 100%;
}

.cd__content-tracks--track-name {
  font-family: "Playfair", serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.cd__image-container {
  height: 100%;
  width: 100%;
}

.cd__image-container img {
  max-height: 100%;
  max-width: 550px;
}
