* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #e3e3e3;
}

body {
  font-family: "Roboto", sans-serif;
  color: #0b0b0b;
  line-height: 1.6;
}

.container {
  max-width: calc(100% - 10rem);
  margin-inline: auto;
}

.container > * + * {
  margin-bottom: 5rem;
}

ul li {
  list-style: none;
}

nav {
  background-color: black;

  color: #e3e3e3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
}

.main__navigation-list {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main__navigation-list--item {
  border: 1px solid #e3e3e3;
  padding: 0.75em 2em;
  border-radius: 15px;
  transition: background, color, 0.5s ease;
  color: #e3e3e3;
}

.main__navigation-list--item:hover {
  background-color: #ffff02;
  color: #0b0b0b;
  font-weight: 700;
}

.nav-logo {
  height: 100px;
  padding: 0.5em;
}

.hero {
  background-image: url(images/metallica-band.jpeg);
  min-height: 100vh;
  max-width: 100%;
  display: block;
  margin-bottom: 5rem;
}

.hero-logo {
  min-height: 100vh;
  object-fit: cover;
  object-position: right right;
}

.hero__text {
  padding: 5em;
}

.hero__text-heading {
  letter-spacing: 8px;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Cinzel Decorative", cursive;
}

.hero__text-subheading {
  letter-spacing: 5px;
  font-size: 1.125rem;
}

.about {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.about-heading {
  font-size: 3rem;
  text-align-last: center;
  margin-bottom: 5rem;
}

figcaption {
  font-size: 1.25rem;
  text-align: center;
}

.about__paragraphs > * {
  margin-bottom: 1em;
}

.about-paragraph {
  max-width: 70ch;
  font-size: 0.9375rem;
}

.about-members-heading {
  color: #0b0b0b;
  text-decoration: underline;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.about-members-heading:hover {
  transform: scale(1.1);
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.member {
  box-shadow: 0 1px 15px #0b0b0b;
  border-radius: 10px;
  overflow: hidden;
  transition: transform, 0.25s ease-in-out;
}

.active:hover {
  transform: scale(1.1);
}

.member__details {
  display: flex;
  flex-direction: column;
  padding-block: 2.25em;
  padding-inline: 1.5em;
  gap: 1.125rem;
  align-items: space-between;
  justify-content: space-between;
  font-size: 1.25rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-image img {
  height: 250px;
}

.member-image {
  position: relative;
}

.member-past .member-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #e3e3e3;
  opacity: 0.5;
  z-index: 100;
}

.cds {
  display: flex;
  flex-wrap: wrap;
  list-style-position: inside;
  gap: 2rem;
  justify-content: center;
}

.cds a {
  color: #0b0b0b;
}

.cd img {
  height: 250px;
}

.cd {
  font-size: 1.125rem;
  transition: transform, 0.25s ease-in-out;
}

.cd:hover {
  transform: scale(1.2);
}

.cd img {
  box-shadow: 0 1px 15px #0b0b0b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.cd__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 15px #0b0b0b;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  padding: 0.5em;
}
